<div style="text-align:center">
    <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [xaxis]="chartOptions.xaxis!"
      [title]="chartOptions.title!"
      [stroke]="chartOptions.stroke ? chartOptions.stroke : {}"
      [dataLabels]="chartOptions.dataLabels ? chartOptions.dataLabels : {}"
      [tooltip]="chartOptions.tooltip ? chartOptions.tooltip : {}"
      [labels]="chartOptions.labels ? chartOptions.labels : []"
      [yaxis]="chartOptions.yaxis ? chartOptions.yaxis : []"
      
    ></apx-chart>
  </div>