<mat-card>
    <mat-card-title>Busqueda</mat-card-title>
    <mat-card-content>
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
        </mat-form-field>
        <div class="tbl-container">
            <table mat-table [dataSource]="dataSource!" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="movement">
                  <th mat-header-cell *matHeaderCellDef> Movement </th>
                  <td mat-cell *matCellDef="let element"> {{element.movement}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
              </table>
        </div>
          <mat-paginator #paginator
              [pageSize]="15"
              [pageSizeOptions]="[5, 10, 15]"
              aria-label="Select page">
         </mat-paginator>
    </mat-card-content>
</mat-card>