<div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2">
    <mat-card class="group relative">
        <div class=" mt-4 flex justify-between">
            <mat-card>
                <mat-card-title>Gráfica de Linea</mat-card-title>
                <mat-card-content>
                    <app-charts [chartConf]="lineGraph"></app-charts>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card>
    <mat-card class="group relative">
        <div class=" mt-4 flex justify-between">
            <mat-card>
                <mat-card-title>Gráfica de Barras</mat-card-title>
                <mat-card-content>
                    <app-charts [chartConf]="barGraph"></app-charts>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card>
</div>